.container {
    padding: 15px 20px;
    margin-top: 25px;
    background: rgba( 0, 0, 0, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.heading {
    color: var(--white-color);
    font-weight: 800;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    align-items: flex-start;
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
	font-size: 18px;
	padding: 5px 10px;
	outline: none;
	background: var(--dark-color);
	color: var(--white-color);
	border: 0px solid #C4D1EB;
	border-radius: 11px;
	transition: .3s ease;
    margin: 5px 0px;
}

.input:focus {
	background: #555F69;
	border: 0px solid #5A7EC7;
	border-radius: 11px;
}

.input::placeholder {
	color: var(--white-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

span {
    color: var(--white-color);
}

label {
    color: var(--white-color);
}

table.customTable {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    color: var(--white-color);
  }
  
  table.customTable td, table.customTable th {
    border-width: 0.5px;
    border-color: var(--light-color);
    border-style: solid;
    padding: 15px;
  }
  
  table.customTable thead {
    background-color: var(--dark-color);
  }
  
  .success-bg {
    background-color: var(--success-color);
  }
  
  .warning-bg {
    background-color: var(--warning-color);
  }

  .danger-bg {
    background-color: var(--danger-color);
  }

.action-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-self: center;
}

.action-wrapper .btn {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    font-size: medium;
    font-weight: 500;
    border-radius: 50px;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.error {
    font-size: smaller;
    color: var(--danger-color);
}

.success-text {
    color: var(--success-color);
}

.danger-text {
    color: var(--danger-color);
}

.warning-text {
    color: var(--warning-color);
}